<header>
    <div class="container flex justify-between-flex align-center">
        <a href="" class="logo">Expense Tracker</a>
        <nav>
            <ul class="flex align-center">
                <li><a href="/">Home</a></li>
                <li><a href="/verifyEmail">signup</a></li>
                <li><a href="/users/login">login</a></li>
            </ul>
        </nav>
    </div>
</header>